@use 'sky/design' as *;

.ContainerExample1 {
    @apply bg-pink-600
        text-white
        py-[10px];
}

.ContainerExample2 {
    @apply py-[10px];

    color: var(--tertiary-color);
    background: var(--tertiary-bg);
}

.ContainerExample3 {
    .col {
        @apply py-[10px];

        width: calc(100% / 3);
        border: 1px solid var(--tertiary-bg);

        @include to-sm {
            width: 100%;
        }
    }

    .col1 {
        @apply text-center;
    }
}
