export default function template(props) {
  let state = {
    isHovered: false,
    handleMouseEnter() {
      if (props.hoverable) {
        state.isHovered = true;
      }
    },
    handleMouseLeave() {
      if (props.hoverable) {
        state.isHovered = false;
      }
    },
  };

  return `<div style="${cardStyle}" class="${props.className}" >${
    !props.image
      ? ""
      : `<img src="${props.image}" alt="${
          props.title || "Card image"
        }" style="${imageStyle}" />`
  } ${!props.title ? "" : `<h3 style="${titleStyle}" >${props.title}</h3>`} ${
    !props.subtitle ? "" : `<p style="${subtitleStyle}" >${props.subtitle}</p>`
  } ${!props.children ? "" : `<div >${props.children}</div>`}</div>`;
}
