export default function template(props) {
  let state = {
    count: props.foo || 0,
    increment() {
      state.count++;
    },
  };

  return `<div style="${{
    padding: "16px",
    border: "1px solid #ccc",
    borderRadius: "8px",
    cursor: "pointer",
    backgroundColor: "#f9f9f9",
  }}" class="${
    props.className
  }" ><h3 >Universal Foo Component</h3> <p >Initial value: ${
    props.foo
  }</p> <p >Current count: ${
    state.count
  }</p> <button > Increment </button></div>`;
}
