@use 'sass:map';

$to-screen: (
    xs: 575px,
    sm: 767px,
    md: 991px,
    lg: 1199px,
    xl: 1399px,
);

$from-screen: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin xs() {
    @include to(xs) {
        @content;
    }
}
@mixin sm() {
    @include between(sm, sm) {
        @content;
    }
}
@mixin to-sm() {
    @include to(sm) {
        @content;
    }
}
@mixin from-sm() {
    @include from(sm) {
        @content;
    }
}
@mixin md() {
    @include between(md, md) {
        @content;
    }
}
@mixin to-md() {
    @include to(md) {
        @content;
    }
}
@mixin from-md() {
    @include from(md) {
        @content;
    }
}
@mixin lg() {
    @include between(lg, lg) {
        @content;
    }
}
@mixin to-lg() {
    @include to(lg) {
        @content;
    }
}
@mixin from-lg() {
    @include from(lg) {
        @content;
    }
}
@mixin xl() {
    @include between(xl, xl) {
        @content;
    }
}
@mixin to-xl() {
    @include to(xl) {
        @content;
    }
}
@mixin from-xl() {
    @include from(xl) {
        @content;
    }
}
@mixin xxl() {
    @include from(xxl) {
        @content;
    }
}

@mixin to($to) {
    @media screen and (max-width: map.get($to-screen, $to)) {
        @content;
    }
}

@mixin from($from) {
    @media screen and (min-width: map.get($from-screen, $from)) {
        @content;
    }
}

@mixin between($from, $to) {
    @media screen and (min-width: map.get($from-screen, $from)) and (max-width: map.get($to-screen, $to)) {
        @content;
    }
}
