@use '.' as *;
@use 'sky/design' as *;
@use './Button.scss' as *;

.Dropdown {
    @include UIGroupChild;

    width: 100%;
    position: relative;

    &-dropdown {
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: auto;
        font-size: 14px;
        line-height: 16px;
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);
        border-radius: $border-radius;
        box-shadow: var(--box-shadow);
        user-select: none;

        &:hover {
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            border: 1px solid var(--primary-border-focus-color);
        }

        &[hidden] {
            display: none;
        }
    }

    &-dropdown-button {
        @extend %button;

        justify-content: space-between;
        width: 100%;
        color: var(--primary-color);
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);

        &:hover {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-border-focus-color);
        }
    }

    .disabled &-dropdown-button-icon {
        color: var(--disabled-color);
    }

    &-dropdown-button:focus &-dropdown-button-icon {
        color: var(--primary-border-focus-color);
    }

    &-option-button {
        @extend %button;

        padding: $y-content-padding-sm $x-content-padding;
        justify-content: start;
        width: 100%;
        color: var(--primary-color);
        background: var(--primary-bg);
        border: 1px solid var(--primary-bg);
        border-radius: 0;

        &:hover {
            color: var(--primary-color);
            background: var(--primary-button-bg);
            border: 1px solid var(--primary-button-bg);
        }

        &:focus {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-bg);
        }

        &:first-child {
            &:hover {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }

            &:focus {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
        }

        &:last-child {
            &:hover {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }

            &:focus {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    .disabled &-dropdown-button {
        color: var(--disabled-color);
        background: var(--disabled-bg);
        border-color: var(--disabled-bg);
        opacity: 1;

        &:hover {
            color: var(--disabled-color);
            background: var(--disabled-bg);
            border-color: var(--disabled-bg);
        }
    }
}
