@use './_index' as *;
@use 'sky/styles' as *;

.Field {
    @include UIGroupChild;
    width: 100%;

    &-input {
        display: block;
        width: 100%;
        padding: $y-content-padding $x-content-padding;
        font-size: 16px;
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);
        border-radius: $border-radius;

        &:hover {
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            border: 1px solid var(--primary-border-focus-color);
            outline: none;
        }

        &[hidden] {
            display: none;
        }

        &[type='file'] {
            height: 40px;
        }
    }

    &.disabled .Label {
        color: var(--disabled-color);
    }

    &.disabled &-input {
        color: var(--disabled-color);
        background: var(--tertiary-bg);
        border-color: var(--tertiary-bg);

        &:hover {
            color: var(--disabled-color);
            background: var(--tertiary-bg);
            border-color: var(--tertiary-bg);
        }
    }
}
