@use './_index' as *;
@use 'sky/styles' as *;

.Table {
    width: 100%;
    border: 1px solid var(--primary-border-color);
    border-radius: $border-radius;
    border-spacing: 0;
    border-collapse: separate;

    thead th {
        padding: $y-content-padding-sm $x-content-padding-sm;
        border-bottom: 1px solid var(--primary-border-color);
        border-right: 1px solid var(--primary-border-color);
    }

    thead th:last-child {
        border-right: none;
    }

    tbody tr td {
        padding: $y-content-padding-sm $x-content-padding-sm;

        border-bottom: 1px solid var(--primary-border-color);
        border-right: 1px solid var(--primary-border-color);
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr td:last-child {
        border-right: none;
    }

    tbody tr:nth-child(2n) td {
        background: var(--secondary-table-bg);
    }
}
