@use 'sky/design' as *;
// * HomePage

.Foo {
    color: grey;
}

.Boo {
    &.One {
        @apply bg-red-500;
    }

    &.Two-A {
        @apply bg-red-500;
    }

    &.Two-B {
        @apply bg-red-500;
    }
}

.Box2 {
    @apply bg-red-500;

    color: green;
    color: #f00;
}

.Box3 {
    @apply bg-green-400;
}

.title {
    font-weight: bold;
}
