@use 'sky/styles' as *;

.HexagonGridEditor-DrawPanel {
    top: 47px;
    left: 210px;
    right: 0;
    position: fixed;
    height: auto;
    width: calc(100% - 210px);
    background: var(--primary-bg);
    border: 1px solid var(--primary-border-color);
    border-radius: $border-radius;
    display: flex;

    &-select {
        width: calc(100% / 6);
        padding: $x-padding;

        .Dropdown-dropdown-button {
            font-size: 12px;
        }
    }

    &-brush {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border: 1px solid white;
        color: white;

        &.icon {
            border: none;
        }

        &.eraser {
            border: 1px solid #ff5555;
        }

        &.circle {
            border-radius: 10px;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }
}
