@use 'sky/styles' as *;

.HexagonsPanel {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 0;
    top: 44px;
    bottom: 0;
    width: 200px;
    background: var(--primary-bg);
    border: 1px solid var(--primary-border-color);
    border-radius: $border-radius;
    overflow-y: auto;

    &-zone {
        margin: 10px 0;
        width: 50%;
        height: min-content;
    }

    &-zone-name {
        text-align: center;
    }

    &-zone-image {
        max-width: 100%;
    }
}
