.HexagonGridEditor {
    &-top-menu {
        display: flex;
        width: 100%;
        background: var(--panel-bg);
    }

    &-hexagon-name {
        position: fixed;
        display: flex;
        left: 210px;
        bottom: 0;

        .Field {
            width: 120px;
        }

        .Button {
            width: fit-content;
        }
    }
}
