.HexagonGridEditor {
    &-top-menu {
        display: flex;
        width: 100%;
        background: var(--secondary-bg);

        > * {
            margin: 0!important;
        }
    }

    &-hexagon-name {
        position: fixed;
        display: flex;
        left: 210px;
        bottom: 0;

        > * {
            margin: 0!important;
        }

        .Button {
            padding-top: 0;
            padding-bottom: 0;
        }

        .Button:not(:hover):not(:active) {
            background: #121212;
            color: white;
            border: 1px solid #333;
        }
    }
}
