.HexagonGridEditor {
    &-top-menu {
        display: flex;
        width: 100%;
        background: var(--tertiary-bg);

        > * {
            margin: 0!important;
        }
    }

    &-hexagon-name {
        position: fixed;
        display: flex;
        left: 210px;
        bottom: 0;

        .Field {
            width: 200px;
        }

        .Button {
            width: fit-content;
        }
    }
}
