@layer reset, base, tokens, theme, properties, components, utilities;

@import "tailwindcss";

@import './panda/styles';

@import '@sky-modules/design/index.css';
@import '@sky-modules/design/tailwind-tokens.css';

@import './brand.css';

@plugin "./brand.tailwind.js";

/* Responsive Breakpoints */
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

