@import '@sky-modules/design/plugins/tailwind.css';
@import '@sky-modules/design/plugins/panda.css';
@import './brand.css';

/* Responsive Breakpoints */
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;  
  --breakpoint-2xl: 1536px;
}

