@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

@mixin classnames($classnames, $names...) {
    $realNames: [];

    @each $name in #{$names} {
        @each $a in string.split($name, ' ') {
            @each $b in string.split($a, '\\n') {
                $realNames: list.append($realNames, $b);
            }
        }
    }

    @each $name in $realNames {
        @if map.get($classnames, $name) {
            composes: $name from '' + #{map.get($classnames, $name)} + '.scss';
        } @else if str-index($name, '/') != -1 {
            composes: list.nth(string.split($name, '/'), -1) from '' + #{$name} + '.scss';
        } @else {
            composes: $name from global;
        }
    }
}
