@use 'sky/styles' as *;

.UIGroup {
    display: flex;
}

@mixin UIGroupChild {
    .UIGroup &.UIGroupChild {
        border-radius: 0;
    }
    .UIGroup & .UIGroupChild {
        border-radius: 0;
    }

    .UIGroup &:first-child.UIGroupChild {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    .UIGroup &:first-child .UIGroupChild {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    .UIGroup &:last-child.UIGroupChild {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .UIGroup &:last-child .UIGroupChild {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}
