@use './_index' as *;
@use 'sky/styles' as *;
@use './Button.scss' as *;

.Dropdown {
    @include UIGroupChild(#{&-dropdown});

    position: relative;

    &-dropdown {
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        width: 100%;
        height: auto;
        font-size: 14px;
        line-height: 16px;
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);
        border-radius: $border-radius;
        box-shadow: var(--box-shadow);
        user-select: none;

        &:hover {
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            border: 1px solid var(--primary-border-focus-color);
        }

        &[hidden] {
            display: none;
        }

        &[disabled] {
            background: #efefef;
        }
    }

    &-dropdown-button {
        @extend .Button;
        justify-content: space-between;
        width: 100%;
        color: var(--primary-color);
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);

        &:hover {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-border-focus-color);
        }
    }

    &-dropdown-button:focus &-dropdown-button-icon {
        color: var(--primary-border-focus-color);
    }

    &-option-button {
        @extend .Button;
        padding: $y-content-padding-sm $x-content-padding;
        justify-content: start;
        width: 100%;
        color: var(--primary-color);
        background: var(--primary-bg);

        &:hover {
            color: var(--primary-color);
            background: var(--primary-button-bg);
            border: 1px solid var(--primary-button-bg);
        }

        &:focus {
            color: var(--primary-color);
            background: var(--primary-bg);
            border: 1px solid var(--primary-bg);
        }
    }
}
