@use './_ErrorMessage';
@use './Button.scss';

.Dropdown {
    position: relative;

    &-dropdown {
        position: absolute;
        display: block;
        width: 300px;
        height: auto;
        left: 0;
        top: 34px;
        font-size: 14px;
        line-height: 16px;
        border-radius: 8px;
        border: 1px solid hsl(0, 0%, 67%);
        background-color: #fff;
        user-select: none;
        color: #121212;

        &[hidden] {
            display: none;
        }

        &[disabled] {
            background-color: #efefef;
        }

        &-button {
            @extend .Button;
        }
    }

    &.black &-dropdown {
        border: 1px solid #333333;
        background-color: #121212;
    }

    &.black &-dropdown-button {
        background-color: #333333;
        color: #fff;
        border: 1px solid #333333;

        &:hover {
            background-color: #555555;
            border: 1px solid #555555;
        }
    }

    &-option-button {
        @extend .Button;
        width: 100%;
    }

    &.black &-option-button {
        background-color: #121212;
        color: #fff;
        border: 1px solid #121212;

        &:first-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #333333;
        }
    }
}
