@use './UI.scss';
@use './Button.scss';

.Dropdown {
    &-label {
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }

    &-dropdown {
        position: absolute;
        display: block;
        width: 300px;
        height: auto;
        font-size: 16px;
        line-height: 16px;
        border-radius: 8px;
        border: 1px solid hsl(0, 0%, 67%);
        background-color: #fff;
        user-select: none;
        color: #121212;

        &[hidden] {
            display: none;
        }

        &[disabled] {
            background-color: #efefef;
        }

        &-button {
            @extend .Button;
        }
    }

    &.black &-dropdown {
        border: 1px solid #333333;
        background-color: #121212;
    }

    &.black &-dropdown-button {
        background-color: #333333;
        color: #fff;
        border: 1px solid #333333;
    }

    &-option-button {
        @extend .Button;
        cursor: pointer;
    }

    &.black &-option-button {
        background-color: #121212;
        color: #fff;
        border: 1px solid #121212;

        &:not(:last-child) {
            border-bottom: 1px solid #333333;
        }
    }
}
