@use './_ErrorMessage.scss';
@use './_FormControl';

.Field {
    &-input {
        display: block;
        width: 300px;
        height: 30px;
        font-size: 16px;
        line-height: 16px;
        border: 1px solid #aaa;
        border-radius: 8px;
        background-color: #fff;
        padding: 6px 10px;

        &[hidden] {
            display: none;
        }

        &[disabled] {
            background-color: #efefef;
        }

        &[type='file'] {
            height: 40px;
        }
    }

    .FormGroup &:first-child &-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .FormGroup &:last-child &-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.theme-dark .Field {
    &-input {
        border: 1px solid #333;
        background-color: #121212;
    }
}
