@use './_index' as *;
@use 'sky/styles' as *;

.Select {
    @include UIGroupChild;

    position: relative;

    &-label {
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }

    &-select {
        appearance: none;
        display: block;
        width: 100%;
        padding: $y-content-padding $x-content-padding;
        font-size: 16px;
        font-family: var(--primary-font-family);
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);
        border-radius: $border-radius;

        &:hover {
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            border: 1px solid var(--primary-border-focus-color);
            outline: none;
        }

        &[hidden] {
            display: none;
        }
    }

    &-select-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $x-content-padding;
    }

    &-select:focus + &-select-icon {
        color: var(--primary-border-focus-color);
    }

    .disabled &-select {
        color: var(--disabled-color);
        background: var(--disabled-bg);
        border-color: var(--disabled-bg);
        opacity: 1;

        &:hover {
            color: var(--disabled-color);
            background: var(--disabled-bg);
            border-color: var(--disabled-bg);
        }
    }

    .disabled &-select-icon {
        color: var(--disabled-color);
    }
}
