@use './_index.scss' as *;
@use 'sky/styles' as *;

.TextArea {
    @include UIGroupChild;

    .Label {
        font-size: 16px;
        display: block;
        margin-bottom: 6px;
    }

    &-textarea {
        display: block;
        width: 100%;
        height: 120px;
        padding: 6px 10px;
        font-size: 16px;
        line-height: 16px;
        background: var(--primary-bg);
        border: 1px solid var(--primary-border-color);
        border-radius: $border-radius;
        resize: vertical;

        &:hover {
            border: 1px solid var(--primary-border-hover-color);
        }

        &:focus {
            border: 1px solid var(--primary-border-focus-color);
            outline: none;
        }

        &[hidden] {
            display: none;
        }
    }

    &.disabled .Label {
        color: var(--disabled-color);
    }

    &.disabled &-textarea {
        color: var(--disabled-color);
        background: var(--disabled-bg);
        border-color: var(--disabled-bg);
        resize: none;

        &:hover {
            color: var(--disabled-color);
            background: var(--disabled-bg);
            border-color: var(--disabled-bg);
        }
    }
}
