.layout {
    max-width: 900px;
    margin: auto;
}

.title {
    padding: 20px 20px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    margin-right: 10px;
}

.content {
    padding: 10px 20px 50px;
    min-height: 100vh;
}
