.link {
    @apply
    text-(--brand-primary)
    transition-(--duration-fast)
    animation-(--animation-primary-in-out)

    hover:text-brand-primary-hover)
    hover:bg-(--interactive-hover)
    focus:shadow-(--effects-glow-hover)

    active:text-(--brand-primary-active)
    active:bg-(--interactive-active)

    pressed:text-(--brand-primary-active)
    pressed:bg-(--interactive-active)

    focus:border-(--border-focus)
    focus:shadow-(--effects-glow-focus)

    visited:text-(--brand-secondary)

    disabled:text-(--content-disabled)
    disabled:bg-(--interactive-disabled)
    disabled:text-(--opacity-disabled)
}
.link_underline { @apply underline border-(--border-primary) }
.link_subtle { @apply opacity-(--opacity-subtle) }
