// * Initial styles for the application
$app-background: #2b2b2b!default;
$app-text-color: #ffffff!default;

:root {
    --app-background: #{$app-background};
    --app-text-color: #{$app-text-color};
}

html,
body,
#root {
    height: 100%;
}

body {
    overflow: hidden;
    background: var(--app-background);
    color: var(--app-text-color);
}
