// * Initial styles for the application
$app-background: #2b2b2b!default;

:global {
    --app-background: $app-background!default;
}

html,
body,
#root {
    height: 100%;
}

body {
    overflow: hidden;
    background: $app-background;
    color: white;
}
