* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    background: #2b2b2b;
    color: white;
}

.canvas {
    @apply
    absolute
    w-full
    h-full
    top-0
    bottom-0
    left-0
    right-0;

    width: 100%!important;
    height: 100%!important;
}
