@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
}

html,
body {
    overflow: hidden;
}

body {
    background: #202020;
    color: white;
}
